objects/
*.obj
*.mod
*.unf
*.pdb
scripts/backups
scripts/backup_12_4
source/backups
p1/
p2/
p3/
source/build/
ERROR


models/coal/log/*
!models/coal/log/leave_blank.txt
models/coal/toAIMMS/*
!models/coal/toAIMMS/leave_blank.txt
models/coal/fromAIMMS/*
!models/coal/fromAIMMS/leave_blank.txt

models/ngas/ngsteo.txt
models/ngas/ng_runval.txt
models/ngas/spot_prc_diff.txt
models/ngas/NGATTENTION.txt
models/ngas/NGPRICES.txt
models/ngas/data/NGSTEOFactors.txt
models/ngas/mainproject/Main.DeveloperState
models/ngas/mainproject/PageManager.xml
models/ngas/mainproject/TemplateManager.xml
models/ngas/mainproject/Pages/*
models/ngas/mainproject/Settings/*
models/ngas/mainproject/Templates/*
models/ngas/mainproject/Tools/*
models/ngas/mainproject/User*Files/*
models/ngas/log/*
!models/ngas/log/leave_blank.txt
models/ngas/toAIMMS/*
!models/ngas/toAIMMS/leave_blank.txt
models/ngas/fromAIMMS/*
!models/ngas/fromAIMMS/leave_blank.txt

models/rest/fromAIMMS/RETURNCODE.txt
models/rest/log/*
!models/rest/log/leave_blank.txt
models/rest/monitor*.txt

models/efd/log/*
!models/efd/log/leave_blank.txt

models/ecp/log/*
!models/ecp/log/leave_blank.txt
models/ecp/DLL_*.*
models/ecp/OutToNEMS_*.txt
models/ecp/monitor*.txt